@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ribarska ulica<br />
    31 000 Osijek<br />
    <abbr title="Phone">Telefon: 01 6690 200</abbr>
    
</address>

<address>
    
</address>